@import "./css/home.css";
@import "./css/cardImg.css";
@import "./css/form.css";
@import "./css/message.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 18px;
}

button {
    cursor: pointer;
    width: 327px;
    height: 54px;
    color: white;
    background-color: #220930;
    border-radius: 10px;
    font-size: 18px;
}
